.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popupContainer {
  border-radius: 20px;
  width: 90%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
}

.popupText {
  font-size: 20px;
  color: #333;
  display: block;
  text-align: center;
  font-weight: bold;
}

.popupContent {
  display: flex;
  align-items: center;
}

.popupTextPrice {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
